@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Kavoon&family=Lato&family=Shrikhand&display=swap');

h1{
  font-family: 'Shrikhand', sans-serif;
  font-weight: lighter;
  margin-left: 10px;
}

#navContainer {
  background-color:#5ABCB9;
  display: flex;
  justify-content: space-between;
  color: white;
}

#navbar {
  padding-top: 10px;
  display: flex;
  justify-content: right;
  align-items: top;
}

.navLinks {
  padding-right:10px;
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: #F0F4F9;
  font-family: 'Lato', sans-serif;
}



